* {
    font-family: Helvetica, Verdana, Geneva, Tahoma, sans-serif;
    background-color: #fffbea;
    box-sizing: border-box;
}


h1 {
    border: 2px solid olive;
    background-color: palegoldenrod;
    color: olive;
    padding: 16px;
    text-align: center;
    border-radius: 8px;
    width: 600px;
    margin: 24px auto;
}

button {
    background-color: palegoldenrod;
    border-radius: 8px;
    padding: 8px;
    margin: 0 24px;
    border: 2px solid olive;
}

a {
    color: olive;
    background-color: palegoldenrod;
}

div {
    text-align: center;
}