* {
    font-family: Helvetica, Verdana, Geneva, Tahoma, sans-serif;
    background-color: #fffbea;
    box-sizing: border-box;
}


h1 {
    
    background-color: palegoldenrod;
    color: olive;
    padding: 16px;
    text-align: center;
    border-radius: 8px;
    width: 600px;
    margin: 24px auto;
}

button {
    background-color: palegoldenrod;
    border-radius: 8px;
    border-style: none;
    padding: 8px;
    margin: 0 24px;
    
}

a {
    color: olive;
    background-color: palegoldenrod;
    text-decoration: none;
}

div {
    text-align: center;
}